@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --breakpoint-xxs: 350px;
  --breakpoint-xs: 425px;
  --font-spartan: "League Spartan", sans-serif;
}
